<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>some error occurred!!</h1>
    <p>we are working on this problem.</p>

<%- include('includes/end.ejs') %>